- name: host
  shell: hostname
  register: host

- name: Copy Cloud
  copy:
    src: scripts/cloud.py
    dest: /home/jetson/cloud.py

- name: copy process
  become: yes
  copy:
    src: scripts/process.conf
    dest:  /etc/supervisor/conf.d/process.conf
  tags: skip

- name: start process
  become: yes
  shell: sudo supervisorctl reread && sudo supervisorctl update
